/* TOOLTIP POPPER */

.tooltip-inner {
    max-width: 500px;
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}

/* JQUERY DATATABLE */

span.no-show{
    display: none;
}
span.show-ellipsis:after{
    content: "...";
}

table.dataTable td  {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

.pagination .page-item.active .page-link {
    background-color: #00548B !important;
    color: #fff;
}

.dt-button {
    background-color: #00548B;
    border-color: #00548B;
    font-size: .81rem;
    -webkit-appearance: button-bevel !important;
    border-radius: .125rem;
    color: white;
    cursor: pointer;
    margin-top: 1% !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
}

.row.buttonrows{
    padding-top: 5%;
    color:#008E45;
    text-align: center !important;
}

.dataTables_info{
    color: #026937;
}

#dtBasic_wrapper{
    width: 100% !important;
}

.rowGood{
    color:white;
    background-color: #026937;
}
.rowWarning{
    color:white;
    background-color:#f7931d;
}
.rowWarning td{
    font-weight: 500;
}
.rowDanger{
    color:white;
    background-color: #e60000 ;
}
.rowDanger td{
    font-weight: bold;
}

.rowGood:hover td{
    background-color: #619e82 !important;
}
.rowWarning:hover td{
    background-color: #f9ab53 !important;
}
.rowDanger:hover td{
    background-color: #ff6666 !important;
}
/* LAYOUT BASIC */
.navbar {
    box-shadow: 0 2px 5px 0 hsla(151, 96%, 21%, 0.39), 0 2px 10px 0 rgba(12,12,12,.12);
    font-weight: 300;
    background-color: #ffffff !important;
}

/* MODAL */

.modal-dialog.modal-notify.modal-warning .badge, .modal-dialog.modal-notify.modal-warning .modal-header {
    background-color: #f7931d !important;
}

.modal-dialog.modal-notify.modal-danger .badge, .modal-dialog.modal-notify.modal-danger .modal-header {
    background-color: #e60000 !important;
}

#titleModal{
    color:white !important;
}

/* FILE INPUT */
.custom-file-label::after {
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    color:white !important;
    background-color: #00548B;
    border-left: 1px solid #00548B;
    border-radius: 0 .25rem .25rem 0;
    font-weight: 400;
}

.custom-file-label, .custom-file-label::after {
    position: absolute;
    padding: 0.375rem 1.75rem;
    line-height: 1.5;
    color: #80b49b;
    top: 0;
    right: 0;
}

#btnPredecir{
    margin:auto !important;
}

.custom-file {
    position: relative;
    display: inline !important;
}
.custom-file-label::after {
    /*content: "Cargar archivo" !important;*/
    content: "\f093" !important;
    font-family:FontAwesome !important;
}

/* LOADER */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  /* EXPERTA LOOK & FEEL */

  .azul-experta{
      background-color:#00548B !important;
  }
  .azul-experta-2{
      background-color:#377794 !important;
  }
  .verde-experta{
    background-color: #026937 !important;
  }
  .verde-experta-2{
      background-color:#80b49b !important;
  }
  .gris-experta{
      background-color: #858386 !important;
  }
  .gris-experta-2{
      background-color: #797a76 !important;
  }
  .gris-experta-3{
      background-color: #ececec !important;
  }

  .verde-experta-text{
      color: #026937 !important
  }  
  .verde-experta-2-text{
    color: #80b49b !important
}